<% if(page.posts && page.posts.length){ %>
    <% page.posts.forEach(function (post, i) { %>
    <article class="post">
        <div class="post-content">
            <div class="post-head home-post-head">
                <div>
                    <div class="post-title">
                        <a href="<%- url_for(post.path) %>">
                            <%- post.title %></a>
                    </div>
                    <div class="post-meta"> &bull;
                        <time class="post-date" datetime="" title="">
                            <%- date(post.date,"YYYY年MM月DD日") %>
                        </time>
                    </div>
                </div>                
            </div>            
            <div class="brief">
                <% if(post.excerpt) { %>
                    <%- post.excerpt %>
                <% } else { %>        
                    <%- post.content %>
                <% } %>
            </div>
        </div>
        <% if(theme.homePanel) { %>
            <footer class="post-footer clearfix">
                <div class="pull-left tag-list">
                    <%- partial('_partial/article-meta', {post: post}) %>
                </div>

                <div class="post-permalink">
                    <a href="<%- url_for(post.path) %>" class="btn btn-default"><%= __('read_more') %></a>
                </div>
            </footer>
        <% } %>
    </article>
    <% }) %>
<%}%>

<%- partial('_partial/pagination') %>